body{
	background-image: url("../img/books.jpg");
	background-size: 100%;
	/*background-repeat: no-repeat;*/
}

#signUp{
	width: 12%;
	height: 50%;
	text-align: center;
	margin: 0 auto;
}

.clear-box{
	clear:both;
	overflow: hidden;
}

#title{
	text-align: center;
}


#div{
	font-size: 30px;
	color: red;
	font-weight: bold;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

img{
	width: 200px;
	height: 300px;
	
}
#book-info{
	background-color: rgba(234, 223, 203, 0.31);
	margin: 0 auto;
	text-align: center;
	width: 50%;
	height: 100%;	
}
.results li{
	list-style: none;
	float: left;
	width: 20%;
	height: 60%;
	  color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-weight: 600;
}

