/*body{
	background-image: url("../img/Bookshelf.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}*/

#signUp{
	width: 12%;
	height: 50%;
	text-align: center;
	margin: 0 auto;
	
	
}

#title{
	text-align: center;
}


#div{
	font-size: 30px;
	color: red;
	font-weight: bold;
}
