/*body{
	background-image: url("../img/books.jpg");
	background-size: cover;
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
}*/

#signUp{
	width: 12%;
	height: 50%;
	text-align: center;
	margin: 0 auto;
}

.clear-box{
	clear:both;
	overflow: hidden;
}
nav{
	position: fixed;
	width: 100%;
}
#title{
	text-align: center;
}


#div{
	font-size: 30px;
	color: red;
	font-weight: bold;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

img{
	width: 200px;
	height: 300px;
	
}
#book-info{
	background-color: rgba(234, 223, 203, 0.31);
	margin: 0 auto;
	text-align: center;
	width: 50%;
	height: 100%;	
}
.results li{
	padding-top: 2%;
	text-align:center;
	list-style: none;
	float: left;
	width: 15%;
	height: 55%;
	  /*color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-weight: 600;*/
    margin: 3%;
    overflow: scroll;
    overflow-x: hidden;
}
.results li .title{
	color: black;
	font-weight: 600;
	font-size: 16px;
}
.results li .author{
	color: black;
	font-weight: 300;
	font-size:14px;
}
.results p{
	    margin: 0 0 -5px;
}
.results li:hover {
    box-shadow: inset 0px 0px 0 5000px rgba(0,0,0,0.3);
}
.search-bar{
	margin: 2%;
}
.search-by{
	margin-left: 2%;
}
.profile-book li{
	list-style: none;
	float: left; 
	margin: 2%;
}
.profile-book li h1{
	text-align: center;
}
.profile-book li div{
	margin-top: 10%;
	font-size: 15px;
	font-weight: 300;
}