<div class="container-info">  
  <form id="contact" action="" method="post">
    <h3>Contact</h3>
    <h4>Contact us today, and get reply with in 24 hours!</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <!-- <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset> -->
    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
     <a href="mailto:ayab257@gmail.com"> <button name="submit" type="button" id="contact-submit" >Submit</button> </a>
    </fieldset>
  </form>
 
  
</div>