			<div>
				<input type="text" placeholder="search" ng-model="search" ng-change="getBooks()"  />
			</div> <!--closing input search-->
			
			<br>
			
			
			<div>
				<ul class="list-inline">
					<li class="list-group-item" ng-repeat="r in results" ng-click="goToBook(r)">
					<img ng-src="{{r.volumeInfo.imageLinks.smallThumbnail}}" />
						<br>
						Title- {{r.volumeInfo.title}}
						<br>
						Author- {{r.volumeInfo.authors[0]}}
					</li>
				</ul>
				
				<br>
				
				<hr>
			</div>
