<div ng-controller="searchBar"> <!--div controller-->			
			<div>
				<input type="text" placeholder="search" ng-model="search" ng-change="getBooks()"  />
			</div> <!--closing input search-->
			
			<br>
			<select ng-model="sortBy">
				Order By- 
			<option value="title">title</option>
			<option value="author">author</option>
			</select>
			<br>
			<br>
			
			<div ng-repeat="r in results | orderBy: title">
				Book- {{r.volumeInfo.title}}<br>
				Author- {{r.volumeInfo.authors[0]}}
				<hr>
			</div>
			
			
			
			</div><!--closing div controller-->