<div class="container-search">
	
		<div id="custom-search-input">
			<div class="input-group col-md-12">
				<input type="text" class="form-control input-lg"  type="text" placeholder="search" ng-model="search" ng-change="getBooks()" />
				<span class="input-group-btn">
					<button class="btn btn-info btn-lg" type="button">
						<i class="glyphicon glyphicon-search"></i>
					</button> </span>
			</div>
		</div>
	
</div>

<!-- <div class="search-bar">
<input  type="text" placeholder="search" ng-model="search" ng-change="getBooks()"  />
</div> -->
<!--closing input search-->
<div class="search-by">
	Search by:
	<br><br>
	<input ng-model="filterType" type="radio" value="title" />
	<label>title</label>
	<input ng-model="filterType" type="radio" value="author" />
	<label>author</label>
</div>
<div class="clear-box"></div>

<ul class="results">
	<li ng-repeat="r in results" ng-click="goToBook(r)">
		<img ng-src="{{r.volumeInfo.imageLinks.smallThumbnail}}" />
		<div>
			<br>
			<p class="title">
				"{{r.volumeInfo.title}}"
			</p>
			<br>
			<p class="author">
				By-{{r.volumeInfo.authors[0]}}
			</p>
		</div>
	</li>
</ul>



